<div class="col-md-4">
    <div class="beer-info">
        <img class="beer-img" src={{image_url}} alt="beer-image"/>
        <div class="beer-body">
            <h5 class="beer-name"><a href='/beers/{{id}}'>{{name}}</a></h5>
            <p class="beer-description">{{description}}</p>
            <p class="beer-tagline">{{tagline}}</p>
        </div>
    </div>
</div>